app/src/main/assets/schema/my_debts.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- person definition -->
    <xs:complexType name="person">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- debt definition -->
    <xs:complexType name="debt">
        <xs:sequence>
            <xs:element name="from" type="person"/>
            <xs:element name="to" type="person"/>
            <xs:element name="amount" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="debt" type="debt" />
</xs:schema> 